@{
    ViewBag.Title = "Mostrar estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row flex-grow">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Alumnos registrados</h4>
                                <div class="card">
                                    <div class="card-body">
                                        <form class="forms-sample">
                                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Matr&iacute;cula</th>
                                                        <th>Nombre</th>
                                                        <th>Apellido paterno</th>
                                                        <th>Apellido materno</th>
                                                        <th>Teléfono</th>
                                                        <th>Institución</th>
                                                        <th>Grupo</th>
                                                        <th>Contraseña</th>
                                                        <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>
                                                            <a href="alumnos.html">
                                                                <img src="../../images/icos/ed.ico" alt="Editar" onclick=""></img>
                                                            </a>
                                                            <a href="">
                                                                <img src="../../images/icos/elimi.ico" alt="Eliminar" onclick=""></img>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


